.event{
  text-align: center;
  margin: 2rem auto;
}

.event img{
  width: 30rem;
  border-radius: 4px;
}

.actions{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.actions a, .actions button{
  font: inherit;
  color: #f9c762;
}

.actions a:hover , .actions a:focus , .actions button:hover , .actions button:focus{
  color: #f6ad1b;
}

.actions button{
  background-color: transparent;
  border: none;
}