.event{
  text-align: center;
  margin: 2rem auto;
}

.event img{
  width: 30rem;
  border-radius: 4px;
}

.actions{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.actions a, .actions button{
  font: inherit;
}

.actions button{
  background-color: transparent;
  border: none;
  color: #FAB833FF;
}